source/node_modules
source/public/hot
source/public/storage
source/storage/*.key
source/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
